<p-panel header="Title">


  <p-table [value]="banks">
    <ng-template pTemplate="header">
      <tr>
        <th>NAME</th>
        <th>IFSC</th>
        <!-- <th>BANK ID</th> -->
        <th>BRANCH</th>
        <th>CITY</th>
        <th>STATE</th>
        <th>ADDRESS</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-banks>
      <tr>
        <td>{{banks.bank_name}}</td>
        <td>{{banks.ifsc}}</td>
        <!-- <td>{{banks.bank_id}}</td> -->
        <td>{{banks.branch}}</td>
        <td>{{banks.city}}</td>
        <td>{{banks.state}}</td>
        <td>{{banks.address}}</td>
      </tr>
    </ng-template>
  </p-table>



</p-panel>
