<p-panel *ngIf="dataLoadedState">

  <p-header>
    <input type="text" pInputText size="50" placeholder="Global Filter"
      (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto; margin-right: 10px;">

    <p-dropdown [options]="cities" [(ngModel)]="selectedCity" (onChange)="selectionUpdate($event)">
      <p>Selected City: {{selectedCity ? selectedCity.name : 'none'}}</p>
    </p-dropdown>

  </p-header>


  <p-table [value]="banks" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]" #dt
    [globalFilterFields]="['bank_name','ifsc', 'branch', 'city','state','address']">
    <ng-template pTemplate="header">
      <tr>
        <th>NAME</th>
        <th>IFSC</th>
        <!-- <th>BANK ID</th> -->
        <th>BRANCH</th>
        <th>CITY</th>
        <th>STATE</th>
        <th>ADDRESS</th>
        <th (click)="resetFav()"> Fav </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bank>
      <tr>
        <td (click)="pickBank(bank)">{{bank.bank_name}}</td >
        <td (click)="pickBank(bank)">{{bank.ifsc}}</td>
        <!-- <td>{{banks.bank_id}}</td> -->
        <td (click)="pickBank(bank)">{{bank.branch}}</td>
        <td (click)="pickBank(bank)">{{bank.city}}</td>
        <td (click)="pickBank(bank)">{{bank.state}}</td>
        <td (click)="pickBank(bank)">{{bank.address}}</td>
        <td ngClass="fav" (click)=favorite(bank.ifsc)> <i class="pi pi-heart"></i> </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>

<p-progressSpinner *ngIf=!dataLoadedState></p-progressSpinner>


<app-testing></app-testing>
